---

import Container from "@/layouts/container/index.astro"

---
<div class="bg-slate-50 dark:bg-slate-800 h-16 border-b border-b-slate-300 dark:border-b-slate-900 dark:shadow-md">
    <Container>
        <div class="flex justify-between items-center h-full">
            <a href="/" class="no-underline">
                <div class="text-xl text-slate-900 dark:text-slate-50 font-bold">mohitnama</div>
            </a>
            <div class="h-6 w-6 relative">
                <a href="https://twitter.com/mohitdotdev" target="_blank">
                    <img
                        src="/twitter.svg"
                        alt="twitter_icon"
                    />
                </a>
            </div>
        </div>
    </Container>
</div>