---
import { getCollection } from "astro:content"
const bookEntries = await getCollection("books")

// GET 10 BOOKS FOR HOME
const limit_books = bookEntries.slice(0, 10)

// LAYOUTS
import Container from "@/layouts/container/index.astro"
import Layout from "@/layouts/layout/index.astro"

// COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"

// ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"

---
<Layout
	title="Mohitnama"
	description=""
>
	<Header />
	<Container>
		<div class="grid grid-cols-3 my-4 gap-4 min-h-[calc(100vh-6rem)]">
            <div class="col-span-2 bg-white border rounded p-4 space-y-4">
				<HeadingOne>Books</HeadingOne>
				{

					limit_books.map( ( value ) => {

						return (
							<div class="w-fit">
								<a href={ "/book/" + value.data.url }>
									<h2 class="text-2xl font-bold">{ value.data.title }</h2>
								</a>
								<p class="font-light">{ value.data.author }</p>
							</div>
						)

					})

				}
			</div>
		</div>
	</Container>
	<Footer/>
</Layout>
